{% set currentLang = lang | default({ code: "ca" }) %}
{% set footSiteName = langT.siteName if langT else site.name %}
{% set footShortDesc = langT.siteShortDesc if langT else site.shortDesc %}
<footer role="contentinfo" class="[ site-foot ] [ pad-top-700 pad-bottom-900 ]">
  <div class="wrapper">
    <div class="[ site-foot__inner ] [ md:box-flex space-between align-start ]">
      {% if footShortDesc %}
        <div>
          <article class="[ site-foot__details ] [ sf-flow measure-compact ]">
            <h2 class="font-base text-600">{{ footSiteName }}</h2>
            {{ footShortDesc | markdownFilter | safe }}
          </article>
        </div>
      {% endif %}
      <div>
        {% set ariaLabel = 'footer navigation' %}
        {% include "partials/components/nav.njk" %}
      </div>
    </div>
  </div>
</footer>
