{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Feature card content #}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    
    <div class="[ inner-wrapper ] [ sf-flow ]">
      {% include "partials/components/feature-card.njk" with {
        image: "/images/team/paca-ciller.jpg",
        imageAlt: "Fundació Ciència en Societat building",
        title: "Educació Científica",
        description: "La Fundació Ciència en Societat promou l'educació científica i tecnològica entre els joves, fomentant la curiositat i l'esperit crític necessaris per a un futur sostenible.",
        caption: "Fundació Ciència en Societat, Barcelona. ©Fundació Ciència en Societat"
      } %}
    </div>
  </main>
{% endblock %}
