{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Feature card content #}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    
    <div class="[ inner-wrapper ] [ sf-flow ]">
      <div class="feature-card">
        <div class="feature-card__image">
          <img src="/images/team/paca-ciller.jpg" alt="Fundació Ciència en Societat building" loading="lazy">
          <p class="feature-card__caption">Fundació Ciència en Societat, Barcelona. ©Fundació Ciència en Societat</p>
        </div>
        <div class="feature-card__content">
          <h2 class="feature-card__title">STEAMConf 2025: La Desena Edició</h2>
          <p class="feature-card__description">STEAMConf, Barcelona, neix el 2015 a CosmoCaixa, de la mà de SokoTech, la Fundació "La Caixa", l’Ajuntament de Barcelona i la Generalitat de Catalunya, en un context científic-tecnològic en constant canvi i urgents reptes socials, econòmics i climàtics En un entorn incert, de quines competències crítiques per a la societat, havien de dotar-se noies i nois per abordar aquests reptes de present i de futur?
          Necessitàvem solucionadors de problemes pensadors inquisitius i crítics amb una mirada integral de la realitat disposats a preguntar-se al llarg de la vida
          Per això, era imprescindible dotar el professorat d’experiències vivencials que propiciessin mentors, més que il-lustradors, llestos per motivar, inquirir coaprendre i construir competències i coneixement transferible a qualsevol escenari.
          Així el Professorat era el nostre objectiu, l'enfocament, STEAM i l'Aprenentatge Basat en Projectes reals, el camí a recórrer.</p>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
