{% extends 'layouts/base.njk' %}

{# Intro content: use langT so language is correct when layout runs #}
{% set introHeading = introHeading or (langT.home.title if langT else title) %}
{% set introSummary = introSummary or (langT.home.intro if langT else (content | safe)) %}
{% set introPadTop = '900' %}
{% set introPadBottom = '900' %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    
    <div class="[ inner-wrapper ] [ sf-flow ] [ pad-bottom-500 ]">
      <div class="feature-card">
        <div class="feature-card__image">
          <img src="/images/cosmo-caixa.jpg" alt="{{ langT.home.featureCaption if langT else 'Linda Liukas STEAMConf 2017' }}" loading="lazy">
          <p class="feature-card__caption">{{ langT.home.featureCaption if langT else 'Linda Liukas STEAMConf 2017' }}</p>
        </div>
        <div class="feature-card__content">
          <h2 class="feature-card__title">{{ langT.home.featureTitle if langT else 'STEAMConf 2025' }}</h2>
          <p class="feature-card__description">{{ langT.home.featureDescription if langT else "10a conferència Internacional d'aprenentatge, 5, 6, 7 i 8 de novembre 2025." }}</p>
          <a href="http://www.steamconf.com/">{{ langT.home.featureLink if langT else 'Coneix la Conferència' }}</a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
